<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="../../../assets/photos/1683850200616.jpg"
      alt=""
      srcset=""
      height="200px"
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#">Kiki sobe telhado mas não desce</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Gatinho da raça famintus evita descer de grandes alturas para não
        prejudicar articulações !
      </a>
    </p>
  </div>
</div>
